extends layout

append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/stats.js')
  script(src='/javascripts/common.js')
  script(src='/javascripts/multiplayer.js')

block content
  #fb-root
  script

  #fps(style='position: absolute; top: 0; left: 0;')
  #wrap
    #info

    #racer
      #hud
        span#speed.hud
          span#speed_value.value 0
          |  mph

        span#current_lap_time.hud
          |Time: 
          span#current_lap_time_value.value 0.0

        span#last_lap_time.hud
          |Last Lap: 
          span#last_lap_time_value.value 0.0

        span#fast_lap_time.hud
          |Fastest Lap: 
          span#fast_lap_time_value.value 0.0

      canvas#canvas Sorry, leider funktioniert der LAMBDA racer bei dir nicht, weil dein Browser das &lt;canvas&gt; Element nicht unterstützt!
      | Loading...

  script(src='/javascripts/racer.js')